In [56]:
#!pip install mysql-connector-python
import mysql.connector as connector

In [58]:
# Establish connection between Python and MySQL database via connector API
connection=connector.connect(user="myabdula", password= "P@ssw0rd")

In [60]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

print("Cursor is created to communicate with the MySQL using Python.\n")

Cursor is created to communicate with the MySQL using Python.

In [62]:
# Set little_lemon database for use 
cursor.execute("USE littlelemondb")

print("The database little lemon is set for use.\n")

The database little lemon is set for use.

In [64]:
print("""The database "little lemon" is ready for use.""")

The database "little lemon" is ready for use.

In [70]:
show_tables_query = """SHOW tables"""
cursor.execute(show_tables_query)
cursor.fetchall()

[('bookings',),
 ('customers',),
 ('menus',),
 ('orderdelivery',),
 ('orders',),
 ('staff',),
 ('yusha',)]

In [101]:
customer_query = """
SELECT customers.FullName, customers.Email, customers.ContactNumber, customers.Streat, customers.City, customers.State, customers.Country, orders.TotalCost
FROM customers
JOIN orders ON customers.CustomerID = orders.CustomerID
WHERE orders.TotalCost > 60;
"""
cursor.execute(customer_query)
dataset = cursor.fetchall()

for data in dataset:
    print(data)

('Shelly Morrison', 'taguilar@roman.com', '1284991214', 'Billy Bridge', 'Riveraburgh', 'Georgia', 'Trinidad and Tobago', Decimal('72.26'))
('Sarah Jacobson', 'shannon51@yahoo.com', '3631883398', 'Matthews Isle', 'East Allen', 'Louisiana', 'Brazil', Decimal('341.63'))
('William Turner', 'emccarthy@gregory.net', '8567710966', 'Chen Brooks', 'West Nicoleton', 'Alabama', 'Equatorial Guinea', Decimal('415.23'))
('Jennifer Miller', 'hmarsh@yahoo.com', '2490581366', 'Joshua Brook', 'North Jamieview', 'Oklahoma', 'Germany', Decimal('248.69'))
('Jasmine Roman', 'lauragonzales@gmail.com', '2667940236', 'Cynthia Ways', 'West Brian', 'South Dakota', 'Philippines', Decimal('251.35'))
('Bradley Brady', 'zsmith@stone.org', '6228064161', 'Micheal Green', 'South James', 'Delaware', 'Bahrain', Decimal('86.97'))
('Ian Arroyo', 'paul61@wheeler.com', '1687537412', 'Dana Lane', 'Johnsonshire', 'Nebraska', 'Sierra Leone', Decimal('333.73'))
('John Castro', 'crystal63@yahoo.com', '7449181851', 'Pearson Circle', 'Evansfort', 'Arkansas', 'Tuvalu', Decimal('356.27'))
('Victoria Patel', 'corey15@castro-gomez.com', '4921352636', 'Ramos Pike', 'Bryanside', 'Alabama', 'Bermuda', Decimal('129.14'))
('John Castro', 'crystal63@yahoo.com', '7449181851', 'Pearson Circle', 'Evansfort', 'Arkansas', 'Tuvalu', Decimal('72.95'))
('Amber Griffin', 'seandyer@hotmail.com', '5462085263', 'Collins Mountain', 'Port Mackenziechester', 'Illinois', 'Mayotte', Decimal('115.81'))
('Eric Carter Jr.', 'tamaramorrison@hotmail.com', '6530445838', 'Caitlyn Lights', 'Barbaraport', 'Idaho', 'Comoros', Decimal('241.53'))
('Gregory Roberts', 'brycepatterson@arellano.net', '4957348140', 'Lee Rest', 'New Nicolemouth', 'Massachusetts', 'Martinique', Decimal('147.74'))
('Jacqueline Jackson', 'garciadustin@hotmail.com', '1939625287', 'Anthony Roads', 'New Maria', 'Delaware', 'India', Decimal('66.82'))
('Dominic Maddox', 'emilywarner@hotmail.com', '2211898446', 'Calvin Inlet', 'Jesusfort', 'Maine', 'Mozambique', Decimal('126.24'))
('Jon Kim', 'hstevens@gmail.com', '1349941026', 'Margaret Drives', 'Hensonborough', 'New Hampshire', 'New Caledonia', Decimal('80.98'))
('Ian Arroyo', 'paul61@wheeler.com', '1687537412', 'Dana Lane', 'Johnsonshire', 'Nebraska', 'Sierra Leone', Decimal('172.96'))
('Roy Wilson', 'susanlopez@mendoza.com', '9687785011', 'Oliver Village', 'Chadland', 'Tennessee', 'Gabon', Decimal('279.62'))
('Norma Fisher', 'ysullivan@yahoo.com', '9451636615', 'Silva Forge', 'West Donald', 'Connecticut', 'Nicaragua', Decimal('364.04'))
('Jessica Wright', 'sharon25@yahoo.com', '5666479384', 'Kenneth Village', 'Montgomerytown', 'Indiana', 'French Southern Territories', Decimal('134.93'))
('Frederick Johnson', 'miguelclark@reed.com', '8988615110', 'Olson Well', 'North Kevin', 'Oklahoma', 'Barbados', Decimal('120.91'))
('Jennifer Summers', 'vclayton@cross.com', '3437440079', 'Linda Divide', 'Davismouth', 'North Carolina', 'Venezuela', Decimal('66.41'))
('David Cruz', 'glester@flowers.info', '2325853208', 'Angela Estates', 'Lambfort', 'Ohio', 'Germany', Decimal('194.74'))
('Jon Kim', 'hstevens@gmail.com', '1349941026', 'Margaret Drives', 'Hensonborough', 'New Hampshire', 'New Caledonia', Decimal('476.11'))
('Leslie Salazar', 'robert08@hotmail.com', '9306794659', 'Henry Squares', 'Lewisview', 'Arizona', 'Aruba', Decimal('148.81'))
('Miss Angela Swanson DVM', 'nstewart@gmail.com', '1419980565', 'Charlene Flat', 'Joshuaburgh', 'Connecticut', 'Lebanon', Decimal('63.09'))
('Leslie Salazar', 'robert08@hotmail.com', '9306794659', 'Henry Squares', 'Lewisview', 'Arizona', 'Aruba', Decimal('295.73'))
('Jeffery Fischer', 'haleyjohn@gmail.com', '9036281722', 'Flores Mews', 'New Rachelside', 'Illinois', 'Rwanda', Decimal('317.99'))
('Jeremy Jacobs', 'jesse19@hotmail.com', '1424775559', 'Wright Haven', 'Lake Amandachester', 'Arkansas', 'British Virgin Islands', Decimal('100.16'))
('Justin Olson', 'david17@yahoo.com', '5457421776', 'Navarro Drives', 'Lake Anne', 'South Dakota', 'Benin', Decimal('229.93'))
('Jamie Smith', 'sharris@yahoo.com', '5761466328', 'Angela Spurs', 'Port Jacqueline', 'Montana', 'Colombia', Decimal('389.97'))
('Jennifer Summers', 'vclayton@cross.com', '3437440079', 'Linda Divide', 'Davismouth', 'North Carolina', 'Venezuela', Decimal('114.26'))
('Edward Giles', 'brittanymiller@hotmail.com', '7789696413', 'Nicholas Drive', 'Port Jeffrey', 'North Carolina', 'Ecuador', Decimal('107.68'))
('Leslie Salazar', 'robert08@hotmail.com', '9306794659', 'Henry Squares', 'Lewisview', 'Arizona', 'Aruba', Decimal('197.63'))
('Norma Fisher', 'ysullivan@yahoo.com', '9451636615', 'Silva Forge', 'West Donald', 'Connecticut', 'Nicaragua', Decimal('325.43'))
('Miss Angela Swanson DVM', 'nstewart@gmail.com', '1419980565', 'Charlene Flat', 'Joshuaburgh', 'Connecticut', 'Lebanon', Decimal('342.17'))

In [44]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [107]:
python3 --version

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "python3"

In [46]:
print("Task 1")

Task 1

In [48]:
dbconfig={"database":"little_lemon", "user":"myabdula", "password":"P@ssw0rd"}

In [51]:
# Our stored procedure query is
peak_query="""
CREATE PROCEDURE peakHours()

BEGIN
    SELECT HOUR(bookings.BookingSlot) AS booking_hour, COUNT(*) AS total_bookings
    FROM bookings
    GROUP BY booking_hour
    ORDER BY total_bookings DESC;

END
"""

In [57]:
#cursor.execute("""DROP PROCEDURE peakHours;""")
cursor.execute(peak_query)

In [59]:
# Call the stored procedure with its name
cursor.callproc("peakHours")

()

In [61]:
results10 = next(cursor.stored_results())
dataset10 = results10.fetchall()

C:\Users\Yushawu\AppData\Local\Temp\ipykernel_1800\2681277526.py:1: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  results10 = next(cursor.stored_results())

In [63]:
for data in dataset10:
    print(data)

(19, 20)
(18, 8)
(15, 1)
(17, 1)
(20, 1)

In [65]:
# Task 3

In [67]:
guest_status_sp = """
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT
        CONCAT(bookings.GuestFirstName, ' ', bookings.GuestLastName) AS GuestName,
        CASE
            WHEN employees.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
            WHEN employees.Role = 'Head Chef'                     THEN 'Ready to serve'
            WHEN employees.Role = 'Assistant Chef'                THEN 'Preparing Order'
            WHEN employees.Role = 'Head Waiter'                   THEN 'Order served'
            ELSE 'Pending'
        END                                  AS OrderStatus,
        bookings.BookingSlot
    FROM   Bookings 
    LEFT JOIN employees ON employees.EmployeeID = employees.EmployeeID
    ORDER BY GuestName;
END
"""

In [69]:
#cursor.execute("""DROP PROCEDURE GuestStatus;""")
cursor.execute(guest_status_sp)

In [71]:
# Call the stored procedure with its name
cursor.callproc("GuestStatus")

()

In [73]:
# Retrieve recrods in "dataset"
results5 = next(cursor.stored_results())
dataset5 = results5.fetchall()

C:\Users\Yushawu\AppData\Local\Temp\ipykernel_1800\2178112201.py:2: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  results5 = next(cursor.stored_results())

In [75]:
for data in dataset5:
    print(data)

('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Pending', datetime.timedelta(seconds=64800))
('Anees Java', 'Order served', datetime.timedelta(seconds=64800))
('Anees Java', 'Preparing Order', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to serve', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Order served', datetime.timedelta(seconds=64800))
('Anees Java', 'Preparing Order', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to serve', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Pending', datetime.timedelta(seconds=64800))
('Anees Java', 'Order served', datetime.timedelta(seconds=64800))
('Anees Java', 'Preparing Order', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to serve', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Pending', datetime.timedelta(seconds=64800))
('Anees Java', 'Order served', datetime.timedelta(seconds=64800))
('Anees Java', 'Preparing Order', datetime.timedelta(seconds=64800))
('Anees Java', 'Pending', datetime.timedelta(seconds=64800))
('Anees Java', 'Preparing Order', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Pending', datetime.timedelta(seconds=64800))
('Anees Java', 'Order served', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to serve', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to serve', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Pending', datetime.timedelta(seconds=64800))
('Anees Java', 'Order served', datetime.timedelta(seconds=64800))
('Anees Java', 'Preparing Order', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to serve', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Pending', datetime.timedelta(seconds=64800))
('Anees Java', 'Order served', datetime.timedelta(seconds=64800))
('Anees Java', 'Preparing Order', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to serve', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anees Java', 'Ready to pay', datetime.timedelta(seconds=64800))
('Anna Iversen', 'Pending', datetime.timedelta(seconds=68400))
('Anna Iversen', 'Order served', datetime.timedelta(seconds=68400))
('Anna Iversen', 'Preparing Order', datetime.timedelta(seconds=68400))
('Anna Iversen', 'Ready to serve', datetime.timedelta(seconds=68400))
('Anna Iversen', 'Ready to pay', datetime.timedelta(seconds=68400))
('Anna Iversen', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to serve', datetime.timedelta(seconds=68400))
('Bald Vin', 'Preparing Order', datetime.timedelta(seconds=68400))
('Bald Vin', 'Order served', datetime.timedelta(seconds=68400))
('Bald Vin', 'Pending', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to serve', datetime.timedelta(seconds=68400))
('Bald Vin', 'Preparing Order', datetime.timedelta(seconds=68400))
('Bald Vin', 'Order served', datetime.timedelta(seconds=68400))
('Bald Vin', 'Order served', datetime.timedelta(seconds=68400))
('Bald Vin', 'Pending', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to serve', datetime.timedelta(seconds=68400))
('Bald Vin', 'Preparing Order', datetime.timedelta(seconds=68400))
('Bald Vin', 'Pending', datetime.timedelta(seconds=68400))
('Bald Vin', 'Order served', datetime.timedelta(seconds=68400))
('Bald Vin', 'Preparing Order', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to serve', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Pending', datetime.timedelta(seconds=68400))
('Bald Vin', 'Preparing Order', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to serve', datetime.timedelta(seconds=68400))
('Bald Vin', 'Order served', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Pending', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to serve', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Pending', datetime.timedelta(seconds=68400))
('Bald Vin', 'Order served', datetime.timedelta(seconds=68400))
('Bald Vin', 'Pending', datetime.timedelta(seconds=68400))
('Bald Vin', 'Order served', datetime.timedelta(seconds=68400))
('Bald Vin', 'Preparing Order', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to serve', datetime.timedelta(seconds=68400))
('Bald Vin', 'Ready to pay', datetime.timedelta(seconds=68400))
('Bald Vin', 'Preparing Order', datetime.timedelta(seconds=68400))
('Diana Pinto', 'Pending', datetime.timedelta(seconds=72000))
('Diana Pinto', 'Ready to pay', datetime.timedelta(seconds=72000))
('Diana Pinto', 'Ready to pay', datetime.timedelta(seconds=72000))
('Diana Pinto', 'Preparing Order', datetime.timedelta(seconds=72000))
('Diana Pinto', 'Ready to serve', datetime.timedelta(seconds=72000))
('Diana Pinto', 'Order served', datetime.timedelta(seconds=72000))
('Hiroki Yamane', 'Order served', datetime.timedelta(seconds=66600))
('Hiroki Yamane', 'Preparing Order', datetime.timedelta(seconds=66600))
('Hiroki Yamane', 'Ready to serve', datetime.timedelta(seconds=66600))
('Hiroki Yamane', 'Ready to pay', datetime.timedelta(seconds=66600))
('Hiroki Yamane', 'Ready to pay', datetime.timedelta(seconds=66600))
('Hiroki Yamane', 'Pending', datetime.timedelta(seconds=66600))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Pending', datetime.timedelta(seconds=70200))
('Jay Kon', 'Order served', datetime.timedelta(seconds=70200))
('Jay Kon', 'Preparing Order', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to serve', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Jay Kon', 'Ready to pay', datetime.timedelta(seconds=70200))
('Joakim Iversen', 'Pending', datetime.timedelta(seconds=68400))
('Joakim Iversen', 'Ready to pay', datetime.timedelta(seconds=68400))
('Joakim Iversen', 'Ready to pay', datetime.timedelta(seconds=68400))
('Joakim Iversen', 'Ready to serve', datetime.timedelta(seconds=68400))
('Joakim Iversen', 'Preparing Order', datetime.timedelta(seconds=68400))
('Joakim Iversen', 'Order served', datetime.timedelta(seconds=68400))
('Marcos Romero', 'Ready to pay', datetime.timedelta(seconds=63000))
('Marcos Romero', 'Pending', datetime.timedelta(seconds=63000))
('Marcos Romero', 'Ready to pay', datetime.timedelta(seconds=63000))
('Marcos Romero', 'Ready to serve', datetime.timedelta(seconds=63000))
('Marcos Romero', 'Preparing Order', datetime.timedelta(seconds=63000))
('Marcos Romero', 'Order served', datetime.timedelta(seconds=63000))
('Vanessa McCarthy', 'Ready to pay', datetime.timedelta(seconds=54000))
('Vanessa McCarthy', 'Ready to serve', datetime.timedelta(seconds=54000))
('Vanessa McCarthy', 'Preparing Order', datetime.timedelta(seconds=54000))
('Vanessa McCarthy', 'Order served', datetime.timedelta(seconds=54000))
('Vanessa McCarthy', 'Ready to pay', datetime.timedelta(seconds=54000))
('Vanessa McCarthy', 'Pending', datetime.timedelta(seconds=54000))

In [77]:
#Little Lemon analysis and sales report

In [79]:
from mysql.connector import Error

In [81]:
#Task 1

from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon",
    "user" : "myabdula",
    "password" : "P@ssw0rd"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_b", pool_size = 2, **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_b
The pool size is: 2

In [83]:
#Task 2
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon",
    "user" : "myabdula",
    "password" : "P@ssw0rd"
}

try:
    pool_b = MySQLConnectionPool(pool_name = "pool_b", pool_size =3, **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

try:
    conn1 = pool_b.get_connection()
    conn2 = pool_b.get_connection()
    conn3 = pool_b.get_connection() 

    cursor1 = conn1.cursor()
    cursor2 = conn2.cursor()
    cursor3 = conn3.cursor()

    insert_query = """
        INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
        VALUES (%s, %s, %s, %s, %s)
    """

    guest1 = (8, "Anees", "Java", "18:00:00", 6)
    guest2 = (5, "Bald", "Vin", "19:00:00", 6)
    guest3 = (12, "Jay", "Kon", "19:30:00", 6)

    cursor1.execute(insert_query, guest1)
    cursor2.execute(insert_query, guest2)
    cursor3.execute(insert_query, guest3)
    conn1.commit()
    conn2.commit()
    conn3.commit()

    try:
        cursor3.execute(insert_query, guest3)
        conn3.commit()
    except Error as err:
        print("Guest 3 Error:", err)

    cursor1.close()
    cursor2.close()
    cursor3.close()
    if conn3.is_connected():
        cursor3.close()

    conn1.close()
    conn2.close()
    conn3.close()
    try:
        conn3.close()  # May raise PoolError
    except Error as err:
        print("Connection pool error:", err)

except Error as err:
    print("Task 2 Error:", err)

The connection pool is created with a name:  pool_b
The pool size is: 2
Connection pool error: Failed adding connection; queue is full

In [85]:
#Task 3: Reports

report = """
CREATE PROCEDURE Report()
BEGIN
    SELECT
        EmployeeID, Name AS ManagerName FROM employees WHERE Role = "Manager";
    SELECT
        Name AS EmployeeWithHighestSalary, Annual_Salary FROM employees ORDER BY Annual_Salary DESC LIMIT 1;
    SELECT
        COUNT(*) FROM bookings WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
    SELECT
        CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID 
        FROM Bookings 
        WHERE EmployeeID = (SELECT EmployeeID FROM Employees WHERE Role = 'Receptionist') 
        ORDER BY BookingSlot;
        
END
"""

In [89]:
#cursor.execute("""DROP PROCEDURE Report;""")
cursor.execute(report)

In [107]:

# Execute the stored procedure
cursor.execute("""CALL Report()""")

labels = [
    "Manager's Name",
    "Highest Paid Employee",
    "Booking Count (18:00 and 20:00)",
    "Guests Handled by Receptionist"
]


# Loop through multiple result sets
result_number = 1
while True:
    # Try to fetch all rows from the current result set
    try:
        rows = cursor.fetchall()
        print(f"\n{labels[result_number - 1]}:")
        for row in rows:
            print(row)
        result_number += 1
    except connector.errors.InterfaceError:
        # This error happens when no result is available â€” safe to skip
        pass

    # Move to the next result set
    if not cursor.nextset():
        break

# Cleanup
cursor.close()
conn.close()

Manager's Name:
(1, 'Mario Gollini')

Highest Paid Employee:
('Mario Gollini', '$70,000')

Booking Count (18:00 and 20:00):
(33,)

Guests Handled by Receptionist:
('Anees Java', 7)
('Anees Java', 10)
('Anees Java', 13)
('Anees Java', 16)
('Anees Java', 20)
('Anees Java', 24)
('Anees Java', 28)
('Anees Java', 32)
('Bald Vin', 8)
('Bald Vin', 11)
('Bald Vin', 14)
('Bald Vin', 17)
('Bald Vin', 21)
('Bald Vin', 25)
('Bald Vin', 29)
('Bald Vin', 33)
('Jay Kon', 9)
('Jay Kon', 12)
('Jay Kon', 15)
('Jay Kon', 18)
('Jay Kon', 19)
('Jay Kon', 22)
('Jay Kon', 23)
('Jay Kon', 26)
('Jay Kon', 27)
('Jay Kon', 30)
('Jay Kon', 31)
('Jay Kon', 34)
('Jay Kon', 35)

IndexError: list index out of range

In [129]:
#Task 4: BasicSalesReport Procedure

sales_proc = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT 
        SUM(BillAmount) AS TotalSales,
        AVG(BillAmount) AS AverageSale,
        MIN(BillAmount) AS MinBill,
        MAX(BillAmount) AS MaxBill
    FROM Orders;
END
"""

In [137]:
#cursor.execute("""DROP PROCEDURE BasicSalesReport;""")
cursor.execute(sales_proc)

In [139]:
 #Call the stored procedure with its name
cursor.callproc("BasicSalesReport")

()

In [141]:
# Retrieve recrods in "dataset"
results6 = next(cursor.stored_results())
dataset6 = results6.fetchall()

C:\Users\Yushawu\AppData\Local\Temp\ipykernel_1800\3406715872.py:2: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  results6 = next(cursor.stored_results())

In [145]:
for data in dataset6:
    print("BasicSalesReport(Total sales, Average sale, Minimum bill paid, and Maximum bill paid \n", data)

BasicSalesReport(Total sales, Average sale, Minimum bill paid, and Maximum bill paid
 (Decimal('243'), Decimal('48.6000'), 37, 86)

In [109]:
#Task 5:

try:
    conn = pool_b.get_connection()
    cursor = conn.cursor(buffered=True)

    query = """
    SELECT 
        bookings.BookingSlot, 
        CONCAT(bookings.GuestFirstName, ' ', bookings.GuestLastName) AS GuestName, 
        CONCAT('Assigned to: ', employees.Name, ' [', employees.Role, ']') AS AssignedTo 
    FROM Bookings
    JOIN Employees ON bookings.EmployeeID = employees.EmployeeID
    ORDER BY BookingSlot
    LIMIT 3
    """
    cursor.execute(query)
    results = cursor.fetchall()
    for row in results:
        print(f"{row[0]} \n- {row[1]} - \n{row[2]}")

    cursor.close()
    conn.close()

except Error as err:
    print("Task 5 Error:", err)

15:00:00
- Vanessa McCarthy -
Assigned to: Giorgos Dioudis [Head Chef]
17:30:00
- Marcos Romero -
Assigned to: Fatma Kaya [Assistant Chef]
18:00:00
- Anees Java -
Assigned to: John Millar [Receptionist]